.tomorrow-comment,
pre .comment,
pre .title {
  color: #969896;
}
.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c66;
}
.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #de935f;
}
.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #f0c674;
}
.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #b5bd68;
}
.tomorrow-aqua,
pre .css .hexcolor {
  color: #8abeb7;
}
.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #81a2be;
}
.tomorrow-purple,
pre .keyword,
pre .javascript .function {
  color: #b294bb;
}
code {
  color: #c5c8c6;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format('embedded-opentype'), url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3") format('woff'), url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3") format('truetype'), url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
a,
a:visited {
  color: #23bdbe;
  text-decoration: none;
  transition: color 50ms;
  transition: border-color 50ms;
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #20a0a1;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: "Nobile";
  line-height: 1.3em;
}
h1,
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
p,
span,
a,
li {
  line-height: 1.5em;
}
pre code {
  display: block;
}
code {
  font-size: 14px;
  border-radius: 6px;
  background: #1d1f21;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.2;
  padding: 6px;
  margin: 6px 0;
}
input {
  padding: ;
  border: 1px solid #cca5f0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.3em;
}
body {
  font-family: Roboto, Helvetica;
  font-weight: 300;
  background-color: #2e2e2e;
  color: #fff;
  margin: 0;
}
body > header {
  border-bottom: 2px solid #cca5f0;
  background-color: #666;
  padding: 1em 0;
  margin-bottom: 18px;
}
@media only screen and (max-width: 700px) {
  body > header {
    padding: 0.5em 0;
  }
}
body > header .logo,
body > header h2,
body > header h4,
body > header aside {
  display: inline-block;
}
body > header .logo {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  left: -80px;
  top: -80px;
  border: 2px solid #cca5f0;
  overflow: hidden;
  position: absolute;
}
body > header .logo img {
  position: absolute;
  top: 52px;
  left: 59px;
}
@media only screen and (max-width: 700px) {
  body > header .logo {
    display: none;
  }
}
body > header aside {
  float: right;
  margin-right: 2%;
}
body > header aside a,
body > header aside a:visited,
body > header aside a:hover,
body > header aside a:focus,
body > header aside a:visited::before {
  color: #fff;
  border-color: #fff;
}
body > header aside a {
  font-size: 18px;
  margin-right: 3px;
}
@media only screen and (max-width: 320px) {
  body > header aside {
    margin-right: 3px;
    width: 72px;
  }
  body > header aside a {
    margin-bottom: 3px;
  }
}
body > header h2 {
  font-size: 24px;
}
body > header h2 span {
  font-weight: 400;
  color: #fff;
}
body > header h2 span.name {
  font-weight: 700;
}
body > header h4 {
  margin-left: 2em;
  font-size: 12px;
}
@media only screen and (max-width: 700px) {
  body > header h4 {
    margin-left: 6px;
  }
}
@media only screen and (min-width: 1076px) {
  body > article {
    width: 60%;
  }
}
body > article h1,
body > article h2,
body > article h3 {
  margin: 0.7em 0;
}
body > article .post-summary h1 {
  margin-top: 0.3em;
}
body > article p,
body > article ul {
  margin-bottom: 10px;
}
body > article h2.tag {
  color: #cca5f0;
}
body > article h2.tag::before {
  font-family: 'FontAwesome';
  content: '\f02b';
  padding-right: 0.4em;
}
body > header h2,
body > article {
  margin-left: 94px;
}
@media only screen and (max-width: 700px) {
  body > header h2,
  body > article {
    margin-left: 6px;
  }
}
aside.github {
  float: right;
  width: 30%;
}
@media only screen and (max-width: 1076px) {
  aside.github {
    display: none;
  }
}
aside.github li {
  margin-bottom: 0.5em;
}
aside.github h2 a {
  color: #cca5f0;
}
aside.github h2 a:hover,
aside.github h2 a:focus {
  color: #a775d4;
}
ul.tags {
  list-style: none;
  margin: 0.5em 0;
}
ul.tags li {
  display: inline-block;
  margin-right: 1em;
}
ul.tags li a::before {
  font-family: 'FontAwesome';
  content: '\f02b';
  padding-right: 0.4em;
}
ul.tags li a:hover,
ul.tags li a:focus {
  color: #23bdbe;
}
ul.tags li a:hover::before,
ul.tags li a:focus::before {
  color: #a775d4;
}
a.github,
a.gplus,
a.email {
  display: inline-block;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 24px;
  padding: 4px;
  width: 24px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  margin-right: 0.5em;
}
a.github:focus,
a.gplus:focus,
a.email:focus,
a.github:hover,
a.gplus:hover,
a.email:hover {
  border-color: #cca5f0;
}
a.github::before,
a.gplus::before,
a.email::before {
  font-family: 'FontAwesome';
}
@media only screen and (max-width: 700px) {
  a.github,
  a.gplus,
  a.email {
    display: inline-block;
    box-sizing: content-box;
    border: 1px solid;
    border-radius: 18px;
    padding: 4px;
    width: 18px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.5em;
    font-size: 14px;
  }
  a.github:focus,
  a.gplus:focus,
  a.email:focus,
  a.github:hover,
  a.gplus:hover,
  a.email:hover {
    border-color: #cca5f0;
  }
  a.github::before,
  a.gplus::before,
  a.email::before {
    font-family: 'FontAwesome';
  }
}
a.github::before {
  content: '\f113';
}
a.gplus::before {
  content: '\f0d5';
}
a.email::before {
  content: '\f0e0';
}
section.post-summary {
  margin-bottom: 2em;
}
span.date {
  color: #969896;
  font-size: 90%;
}
.npm-diff label {
  display: inline-block;
  width: 40%;
}
.npm-diff input {
  width: 60%;
}
.npm-diff form {
  display: block;
  width: 400px;
}
.npm-diff a.compare {
  display: inline-block;
  margin-top: 3px;
}
.npm-diff .left {
  color: #23bdbe;
}
.npm-diff .right {
  color: #cca5f0;
}

/*# sourceMappingURL=site.css.map */
